/* CSS RESET*/

*{
	box-sizing: border-box;
}

nav ul, nav ol {
	list-style-type: none;
}

img{
	width: 100%;
	height: auto;
	display: block;
}

h1, h2, h3, h4, p, ul, ol, a{
	font-family: "Inter", sans-serif;
	margin: 0;
	padding: 0;
	color: white;
	font-weight: 400;
}
/* END RESET */
/* ----------------- GLOBAL STYLES -------------------- */
body {
	display: flex;
	flex-direction: column;
	gap: 24px;
	background-color: #111111;
	margin: 38px;
	height: 750px;
}

p {
	font-size: 0.9em;
}

/* ----------------- CLASSES -------------------- */
.grey-text {
	color: #AFAFAF;
}

.artist, .length {
	color: #AFAFAF;
}

/* ----------------- HEADER -------------------- */
header {
	display: flex;
	justify-content: space-between;
}

header p {
	font-size: 0.9rem;
	margin-bottom: 2px;
}

#pfp {
	width: 31px;
	height: 31px;
	background-color: antiquewhite;
	border-radius: 300px;
	background-image: url('images/tahoeMe.jpg');
	background-size: cover;
	background-position: center;
}

/* combined styles */

#topbar-left, #topbar-right {
	align-items: center;
	display: flex;
	gap: 12px;
}

#topbar-left-text, #topbar-right-text{
	display: flex;
	flex-direction: column;
}

/* individual styles */
#topbar-right-text {
	text-align: right;
}

/* ----------------- MAIN BOXES -------------------- */
#main-container {
	display: flex;
	gap: 24px;
	height: 100%;
}

#main-container h1{
	font-size: 1.4em;
}

#left-box, #right-box {
	display: flex;
	flex-direction: column;
	position: relative;

	padding: 32px;
	border-radius: 12px;
	background-color: #2b2b2b;
	width: 100%;
	height: 85vh;
}

#left-box-header {
	margin-bottom: 24px;
}

/* SEPERATE STYLES */
#placeholder-text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* ----------------- TRACK LIST -------------------- */
#track-list {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-height: 90%;
}

/* ----------------- TRACKS -------------------- */
img {
	height: 42px;
	width: 42px;
}

/* with duration */
#track-list .track-container {
	display: flex;
	align-items: center; 
	justify-content: space-between;
	padding: 7px 12px;

	border-radius: 6px;
	/* transition: all 200ms ease; */
}

/* not the duration info */
#track-list .song-info {
	display: flex;
	align-items: center; 
	flex-direction: row; 
	gap: 18px;
}

#track-list .track-text > p {
	margin-bottom: 2px;
}

#track-list .track-container:hover{
	background-color: #4a4a4a;
}

/* ----------------- EXTRA OUTPUT -------------------- */

/* ALBUM STYLES */
#output-info.track-container {
	display: flex;
	align-items: center; 
	gap: 40px;
	margin-top: 50px;
}

#output-info .title {
	font-size: 2.4em;
	font-weight: 500;
	margin-bottom: 8px;
}

#output-info .artist {
	font-size: 1.3em;
	font-weight: 300;
}

#output-info img {
	width: 250px;
	height: 250px;
	border-radius: 9px;
}

/* ----------------- ADDITIONAL INFO SECTION -------------------- */

/* ADDITIONAL INFO SECTION  */

#additional-info {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 32px;
	bottom: 32px;
	border-radius: 8px;
}

#bento-container {
	display: flex;
	gap: 20px;
	height: auto;
	flex-wrap: wrap;
}

#additional-info p {
	margin-bottom: 6px;
}

#additional-info h1{
	font-size: 1.3em;
	margin-bottom: 24px;
	font-weight: 500;
}

#outputAlbum {
	font-size: 1.8em;
}

/* BENTO BOXES  */
.info-box {
	background-color: #424242;
	display: flex;
	flex-direction: column;
	padding: 20px;

	justify-content: center;
	text-align: center;
	border-radius: 9px;
	flex: 1;
	min-height: 200px;
}

.info-title {
	font-size: 1em;
}

.info-desc {
	font-size: 3em;
	font-weight: 500;
}
