/* CSS RESET*/

*{
	box-sizing: border-box;
}

nav ul, nav ol {
	list-style-type: none;
}

img{
	width: 100%;
	height: auto;
	display: block;
}

h1, h2, h3, h4, p, ul, ol, a{
	font-family: "Inter", sans-serif;
	margin: 0;
	padding: 0;
	color: rgb(0, 0, 0);
	font-weight: 400;
}
/* END RESET */

body {
	background-color: #FFF4EB;
	display: flex;
	flex-direction:column;
	justify-content: center;
	margin-top: 150px;
	gap: 45px;
	max-height: 750px;
	overflow: hidden;
}

h1{
	letter-spacing: -0.02em;
}

h2 {
	color: rgb(136, 128, 119);
	font-size: 1em;
	margin-top: 12px;
	letter-spacing: -0.02em;
}

header {
	text-align: center;
}


footer{
	text-align: center;
	font-size: 0.8em; 
	position: absolute;
	bottom: 20px;
	width: 100%;
}

footer p{
	color: rgb(136, 128, 119);
}


/* ----------------- FOLDERS ----------------- */
#folders-container {
	display: flex;
	flex: 1;
	justify-content: center;
	gap: 60px;
}

.folders{
	display:flex;
	flex-direction: column;
	justify-content: center;
	gap: 12px;
}

.folders p {
	text-align: center;
}

.folders img {
	width: 100%;
}

.draggable {
	min-height: 6.5em;
	margin: 1rem 0 0 1rem;
	color: white;
	padding: 4%;
	touch-action: none;
	user-select: none;
}


/* ----------------- OVERLAY ----------------- */
.hidden {
	visibility: hidden;
}

.shown {
	visibility: visible;
}

#overlay.shown{
    opacity: 1;
    visibility: visible;
    animation: popIn 0.5s ease-out forwards; /* Apply pop animation*/
}

#overlay.hidden{
    opacity: 0;
	display: none;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
} 

#dimmer {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100vw;
    height: 100vh;
	position: absolute;
	top: 0%;
	z-index: 9998;
	/* visibility: hidden; */
}

#overlay {
    width: 100vw;
    height: 100vh;
	position: absolute;
	top: 0%;
 	z-index: 9999;
	
	opacity: 0;
    /* visibility: hidden; */
	transform: translate(-50%, -50%) scale(0.5);
	transform-origin: center;
}

@keyframes popIn {
    0% {
        opacity: 0;
        transform: scale(0.5); 
    }
    70% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1); 
    }
}

/* ----------------- SPECFIIC STYLINGS ----------------- */


/* OVERLAY CARD */
#overlay article{
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 22px;

	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	border-radius: 10px;

	background-color: white;
	padding: 40px 40px;
	min-width: 400px;
	min-height: 250px;
	z-index: 9999;
}

/* SPECIFIC STYLING */

#overlay article button{
	width: fit-content;
	border-radius: 100px;
	height: 25px;
	width: 25px;
	color: rgb(134, 145, 145);
	background-color: rgb(239, 239, 239);
	position: absolute;
	top: 20px;
	right: 20px;

	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
}

#overlay article button:hover {
	background-color: rgb(216, 212, 212);
}

#overlay h1{
	font-family: "Caveat", cursive;
	font-weight: 500;
	font-size: 1.5em;
	margin-bottom: 12px;
}

#overlay li{
	list-style: none;
	padding: 0;
	margin: 18px 0px;
	color: #6e6d6d;
}

#overlay input[type="checkbox"] {
	accent-color: #0066cc;
	margin-right: 0.5em;
	cursor: pointer;
  }

  /* -------- */

#canvas-basic {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    top: 20.5%;
    right: 30%;
	border-radius: 500px;
}

#canvas-basic2 {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    top: 20.5%;
    right: 67%;
	border-radius: 500px;
}