	/* CSS RESET*/

	*{
		box-sizing: border-box;
	}

	nav ul, nav ol {
		list-style-type: none;
	}

	img{
		width: 100%;
		height: auto;
		display: block;
	}

	h1, h2, h3, h4, p, ul, ol, a {
		font-family: "Fraunces", serif;
		margin: 0;
		padding: 0;
		color: rgb(0, 0, 0);
		font-weight: 400;
		letter-spacing: -0.03em;
	}

	p {
		line-height: 1.4em;
	}

	/* END RESET */

	/* ------------- GENERAL ---------------- */
	.hidden {
		display: none;
	}

	body {
		background-color: #F1F0E6;
		max-height: 750px;
		overflow: hidden;
	}

	/* ------------- BUTTONS ---------------- */
	button {
		background-color: #113A2E;
		color: white;
		border-radius: 100px;
		padding: 10px 16px;
		box-shadow: 0px 77px 21px 0px rgba(0, 0, 0, 0.00), 0px 49px 20px 0px rgba(0, 0, 0, 0.01), 0px 28px 17px 0px rgba(0, 0, 0, 0.05), 0px 12px 12px 0px rgba(0, 0, 0, 0.09), 0px 3px 7px 0px rgba(0, 0, 0, 0.10);
		border: none;
		transition: background-color 0.3s ease, color 0.3s ease;
		cursor: pointer;
	}

	button:hover {
		background-color: #205747;	
	}

	/* ------------- TITLE SCREEN HEADER ---------------- */
	
	header {
		display: flex;
		flex-direction: column;
		gap: 8px;

		position: absolute;
		top: 30%;
		left: 12%;
		max-width: 550px;
	}

	header button {
		width: fit-content;
	}

	header h1{
		font-size: 5em;
	}

	header p {
		margin-bottom: 28px;
	}

	/* --- SHAPES ---- */

	.title-purple {
		width: 272px;
		position: absolute;
		bottom: -60px;
		right: -40px;
	}
	
	.title-orange {
		width: 184px;
		position: absolute;
		right: 0;
		bottom: 375px;
	}

	.title-green{
		width: 132px;
		position: absolute;
		right: 183px;
		bottom: 284px;
	}

	/* ------------- BACKGROUND SCREEN ---------------- */

	#background-screen .content-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;

		margin: 180px 200px;
	}

	#background-screen .text-container {
		display: flex;
		flex-direction: column;
		gap: 8px;
		margin-bottom: 28px;
	}

	/* --- IMAGES ---- */

	#background-screen .content-container img {
		height: 202px;
		object-fit: cover;
		border-radius: 11px;

		box-shadow: 0px 85.276px 24.1px 0px rgba(0, 0, 0, 0.00), 0px 54.688px 22.246px 0px rgba(0, 0, 0, 0.01), 0px 30.588px 18.538px 0px rgba(0, 0, 0, 0.04), 0px 13.904px 13.904px 0px rgba(0, 0, 0, 0.06), 0px 3.708px 7.415px 0px rgba(0, 0, 0, 0.07);
	}

	#background-screen .img-wrapper {
		display: flex;
		flex-direction: column;
		gap: 12px;
		text-align: center;
	}

	#background-screen .img-container {
		display: flex;
		gap: 12px;
		width: 100%;
	}

	/* --- SHAPES ---- */
	.bg-green {
		position: absolute;
		width: 108px;
		top: -20px;
		left: 216px;
	}

	.bg-orange {
		position: absolute;
		width: 184px;
		top: 0;
		left: 0;
	}

	.bg-purple {
		position: absolute;
		width: 230px;
		bottom: 150px;
		right: -120px;
	}

	/* ------------- INTRO SCREEN ---------------- */

	#intro-screen .content-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		max-width: 600px;

		margin: 200px 200px;
	}

	#intro-screen h1 {
		font-size: 3.5em;
		margin-bottom: 24px;
	}

	#intro-screen p{
		font-family: "Inter", sans-serif;
		font-weight: 300;
	}

	/*  button s


	/* ------------- QUIZ STYLING ---------------- */

	.quiz-text-container {
		display: flex;
		flex-direction: column;
		text-align: center;
		max-width: 700px;

		margin: 40px auto;

	}

	.quiz-content-container {
		display: flex;
		flex-direction: column;
		justify-content: center;

		margin: 40px auto;
	}

	.question-label{
		color: #397D7F;
		font-family: "Inter", serif;
		font-weight: 400;
	}

	.question-title{
		text-align: center;
	}

	.quiz-question button {
		margin: 12px 20px;
		width: 100px;
		text-align: center;
	}

	.quiz-question{
		text-align: center;
	}

	/* ------------- QUIZ IMAGES ---------------- */

	.question-img-container {
		display: flex;
		justify-content: center;
		gap: 16px;
		margin-bottom: 40px;
	}
		
	.question-img-container img {
		width: 450px;
	}

	/* ------------- QUIZ BUTTONS ---------------- */

	.answer-btn {
		background-color: transparent;
		color: #113A2E;
		border: 2px solid #113A2E; 
		border-radius: 100px;
		padding: 10px 16px;
		cursor: pointer;
		font-weight: 500;
		transition: background-color 0.3s ease, color 0.3s ease;
	}

	.answer-btn:hover {
		background-color: #113a2e;
		color: white;
	}

	.answer-btn.selected {
		background-color: #113a2e;
		color: white;
	}

	.nxt-btn {
		display: flex;
		justify-content: flex-end;

		position: absolute;
		bottom: 60px;
		right: 80px;
	}

	.quiz-btn-container {
		width: 100%;
		display: flex;
		justify-content: center;

		display: flex;
		justify-content: center;

		position: absolute;
		bottom: 60px;
	}